<admintpl file="header"/>

<link href="__PUBLIC__/js/question/base.css" rel="stylesheet">
<link href="__PUBLIC__/js/question/content.css" rel="stylesheet">
<link href="__PUBLIC__/js/question/blue.css" rel="stylesheet">
</head>
<body>
<div class="wrap js-check-wrap">
    <!--主体框架开始-->
    <div class="pagebox" id="pageContentId">
        <div class="home-desktop" id="desktop_scroll">
            <div style="width:1025px; position: relative;margin-left: 16%;">
                <div class="title">
                    <div class="name left" style="font-size: 15px">问卷调查</div>
                    <div class="function left">
                        <!--[&nbsp;<a href="javascript:;" onclick="definedLayer('/addTeacherData.html',{},'html');">添加</a>&nbsp;]-->
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="well form-search" style="margin-top: 15px;">
                    开始时间：<input type="text" placeholder="为空以提交时间为准" class="js-datetime date start" value="" style="width: 130px;" autocomplete="off">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    结束时间：<input type="text" placeholder="为空开始15天后结束" class="js-datetime date end" value="" style="width: 130px;" autocomplete="off">
                </div>

                <div class="create-questions-content">
                    <div class="exam-nav">
                        <div class="exam-item">
                            <h4 class="exam-item-title">常用题型<i class="icon-expand"></i></h4>
                            <ul class="exam-nav-list" id="ui_sortable_exam">
                                <li data-uid="1" data-tempId="drag_choice">
                                    <a href="javascript:;" data-checkType="1"><i class="icon-singleChoice"></i>单选题</a>
                                </li>
                                <li data-uid="2" data-tempId="drag_choice">
                                    <a href="javascript:;" data-checkType="2"><i class="icon-multipleChoice"></i>多选题</a>
                                </li>
                                <!--<li data-uid="3" data-tempId="drag_choice">-->
                                    <!--<a href="javascript:;" data-checkType="1"><i class="icon-picChoice"></i>图片单选</a>-->
                                <!--</li>-->
                                <!--<li data-uid="4" data-tempId="drag_choice">-->
                                    <!--<a href="javascript:;" data-checkType="2"><i class="icon-picsChoice"></i>图片多选</a>-->
                                <!--</li>-->
                                <li data-uid="5" data-tempId="drag_completion">
                                    <a href="javascript:;" data-checkType="1"><i class="icon-gapFilling"></i>文本填空</a>
                                </li>
                                <!--<li data-uid="6" data-tempId="drag_completion">-->
                                    <!--<a href="javascript:;" data-checkType="2"><i class="icon-multiRow"></i>多行填空</a>-->
                                <!--</li>-->
                                <!--<li data-uid="7" data-tempId="drag_describe">-->
                                    <!--<a href="javascript:;"><i class="icon-describe"></i>描述说明</a>-->
                                <!--</li>-->
                            </ul>
                        </div>
                    </div>
                    <!--出题-->
                    <div class="create-questions">
                        <div class="questions-head-title">
                            <h4 class="h4-bg T_edit T-center" data-Tid="10001" id="questionTitle">
                                问卷标题
                            </h4>
                        </div>
                        <ul class="ui-questions-content-list"></ul>
                        <ul class="ui-foot-all-list"></ul>
                    </div>
                </div>
                <div style="height:40px; margin: 20px 0; text-align: center;">
                    <button type="button" class="cotrlBtn exam-save-btn btnBlue" id="saveQuestion" style="height:40px;width: 140px; font-size:18px;">保存问卷</button>
                    <button type="button" class="cotrlBtn exam-save-btn btnBlue" onclick="javascript:history.back(-1);" style="height:40px;width: 140px; font-size:18px;">返回</button>

                </div>
            </div>
        </div>

        <!--选择题-->
        <script type="text/html" id="drag_choice">
            <li class="ui-module items-questions" data-type="{{type}}">
                <div class="theme-type">
                    <div class="module-menu">
                        <h4></h4>
                        <div class="module-ctrl">
                            <a href="javascript:void(0);" class="ui-up-btn" data-tisp="上移"><i class="icon-up"></i></a>
                            <a href="javascript:void(0);" class="ui-down-btn" data-tisp="下移"><i class="icon-down"></i></a>
                            <!--<a href="javascript:void(0);" class="ui-clone-btn" data-tisp="复制"><i class="icon-clone"></i></a>-->
                            <a href="javascript:void(0);" class="ui-del-btn" data-tisp="删除"><i class="icon-del"></i></a>
                        </div>
                    </div>
                    <div class="ui-drag-area">
                        <div class="cq-title T_edit T_plugins" data-Tid="{{itmetid}}"><span style="font-size:16px;">{{if type==1}}单选题目标题{{else if type==2}}多选题目标题{{/if}}</span></div>
                    </div>
                    <div class="cq-items-content">
                        <ul class="cq-unset-list" data-checkType="{{type}}" data-nameStr="{{name}}">
                            {{each items as itemData i}}
                            <li>
                                <div class="input-check">
                                <input type="{{if type==1}}radio{{else if type==2}}checkbox{{/if}}" name="{{name}}" value="{{itemData.value}}">
                                </div>
                                <div class="cq-answer-content T_edit T_plugins" data-Tid="{{itemData.tid}}">选项{{i+1}}</div>
                            </li>
                            {{/each}}
                        </ul>
                        <div class="cq-items-ctrl">
                            <a href="javascript:void(0);" class="ui-add-item-btn" data-tisp="添加"><i class="icon-add"></i></a>
							<a href="javascript:void(0);" class="ui-del-item-btn" data-tisp="删除"><i class="icon-minus"></i></a>
                            <!--<a href="javascript:void(0);" class="ui-batch-item-btn" data-tisp="批量添加"><i class="icon-addList"></i></a>-->
                            <!--<a href="javascript:void(0);" class="ui-add-answer-btn" data-tisp="添加答案解析"><i class="icon-assignment"></i></a>-->
                        </div>
                    </div>
                </div>
            </li>
        </script>
        <!--填空题-->
        <script type="text/html" id="drag_completion">
            <li class="ui-module items-questions" data-type="3">
                <div class="theme-type">
                    <div class="module-menu">
                        <h4></h4>
                        <div class="module-ctrl">
                            <a href="javascript:void(0);" class="ui-up-btn" data-tisp="上移"><i class="icon-up"></i></a>
                            <a href="javascript:void(0);" class="ui-down-btn" data-tisp="下移"><i class="icon-down"></i></a>
                            <!--<a href="javascript:void(0);" class="ui-clone-btn" data-tisp="复制"><i class="icon-clone"></i></a>-->
                            <a href="javascript:void(0);" class="ui-del-btn" data-tisp="删除"><i class="icon-del"></i></a>
                        </div>
                    </div>
                    <div class="ui-drag-area">
                        <div class="cq-title T_edit T_plugins" data-Tid="{{itmetid}}"><span style="font-size:16px;">{{if type==1}}填空题目标题{{else if type==2}}完形填空题目标题{{/if}}</span></div>
                    </div>
                    <div class="cq-items-content">
                        <div class="describe-edit-content T_edit T_plugins" data-tid="{{items[0].tid}}"><span style="line-height: 1.6;12px;"></span></div>
                    </div>
                </div>
            </li>
        </script>
        <!--描述题-->
        <script type="text/html" id="drag_describe">
            <li class="ui-module items-questions">
                <div class="theme-type">
                    <div class="module-menu">
                        <h4></h4>
                        <div class="module-ctrl">
                            <a href="javascript:void(0);" class="ui-up-btn" data-tisp="上移"><i class="icon-up"></i></a>
                            <a href="javascript:void(0);" class="ui-down-btn" data-tisp="下移"><i class="icon-down"></i></a>
                            <!--<a href="javascript:void(0);" class="ui-clone-btn" data-tisp="复制"><i class="icon-clone"></i></a>-->
                            <a href="javascript:void(0);" class="ui-del-btn" data-tisp="删除"><i class="icon-del"></i></a>
                        </div>
                    </div>
                    <div class="ui-drag-area">
                        <div class="cq-title T_edit T_plugins" data-Tid="{{itmetid}}"><span style="font-size:16px;">描述题目标题</span></div>
                    </div>
                    <div class="cq-items-content">
                        <div class="describe-edit-content T_edit T_plugins" data-tid="{{items[0].tid}}"><span style="line-height: 1.6;12px;">这里是描述题内容</span></div>
                    </div>
                </div>
            </li>
        </script>
        <script type="text/html" id="drag_T_edit">
            <div class="cq-into-edit">
                <div class="add-edit cq-edit-title" contenteditable="true">{{title}}</div>
            </div>
        </script>
        <script type="text/html" id="T_edit_plugins">
            <div class="edit-plug-box" style="border-color: white white black white">
                <!--<a href="javascript:void(0);"><i class="icon-picChoice"></i></a>-->
                <!--<a href="javascript:void(0);"><i class="icon-title"></i></a>-->
            </div>
        </script>
        <script type="text/html" id="ui_additem_content">
            {{each items as itemData i}}
            <li><label class="input-check"><input type="{{if type==1}}radio{{else if type==2}}checkbox{{/if}}" name="{{name}}" value="{{itemData.value}}"></label>
                <div class="cq-answer-content T_edit T_plugins" data-Tid="{{itemData.tid}}">选项{{i+1+index}}</div>
            </li>
            {{/each}}
        </script>
        <script type="text/html" id="analysis_tmp">
            <textarea class="exam-textarea analysis_contx" placeholder="请在此填写答案解析"></textarea>
        </script>

    </div>
    <!--主体框架结束-->

</div>

<!--<script src="__PUBLIC__/js/jquery19.js"></script>-->
<script type="text/javascript" src="__PUBLIC__/js/question/jquery-1.10.2.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/question/jquery-ui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/question/dcselect.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/question/template.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/question/exam.js"></script>
<script src="__PUBLIC__/js/layer/layer.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
<script type="text/javascript">
    $(function() {
        exam.init();
//        $("select").dcselect();
        $('#saveQuestion').on('click',function(){
            layer.confirm('保存后不可更改，确定保存吗？', {
                btn: ['确定','取消'] //按钮
            }, function(){
                var dataBase={},questionItems=[],data,next = true;
                dataBase.questionTitle=$('#questionTitle').html();
                dataBase.questionExamTitle=$('#questionExamTitle').html();
                dataBase.start = $('.start').val();
                dataBase.end = $('.end').val();
                //封装所有题列表，遍历提取值analysis（答案）、题列表（数组对象）；
                $('.ui-questions-content-list').children('li').each(function(i){
                    var dataTx={},qListItems=[];
                    dataTx.QItemsTitle=$(this).find('.cq-title').html();
                    //封装单题，遍历提取值name、value、checkCurr（选中状态）；
                    $(this).find('ul.cq-unset-list').children('li').each(function(j){
                        var listItems={};
                        listItems.name=$(this).find('input').attr('name');
                        listItems.value=$(this).find('input').val();
                        listItems.checkCurr=$(this).find('input').prop('checked');
//                        if(listItems.value == 0){
//                            next = false;
//                            layer.alert('选项名不能为默认值');
//                            return false;
//                        }
                        qListItems.push(listItems)
                    });
                    dataTx.type=$(this).data('type');
                    dataTx.qListItems=qListItems;
                    questionItems.push(dataTx);
                });
                dataBase.questionItems=questionItems;
                data = JSON.stringify(dataBase);
                console.log(data);
                if(next == false){
                    return false;
                }
                $.post("{:U('add')}",{data:data},function (res) {
                    if(res.status == 1){
                        layer.confirm(res.info, {
                            btn: ['继续添加','返回列表'] //按钮
                        },function(){
                            location.reload();
                        },function () {
                            location.href = "{:U('Questionnaire/adminIndex')}";
                        });
                    }else{
                        layer.alert(res.info);
                    }
                })
            });

        });
    });
</script>
</body>
</html>